{% extends "base.html" %}

<!--  indexing policies for search engines -->
{% block extrahead %}
<link rel="mask-icon" href="assets/fotc_icon.svg">

<!-- Site wide metadata -->

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Organization",
    "url": "https://1871fotc.github.io/fotc/",
    "logo": "https://1871fotc.github.io/fotc/assets/fotc.png"
    "name": "Friends of Toowong Cemetery Association Inc."
    "description": "Friends of Toowong Cemetery is a volunteer group that discover and share the history and stories of Toowong Cemetery."
    "slogan": "Discover and share the history and stories of Toowong Cemetery"
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "Toowong",
      "addressRegion": "Queensland",
      "postalCode": "4066",
      "postOfficeBoxNumber": "808"
    },
    "email": "mailto:inquiries@fotc.org.au",
    "telephone": "0439998053",
  }
</script> 


<!--   <meta property="robots" content="noindex, nofollow" />  -->
{% endblock %}

<!--   announcement bar including arbitrary HTML and text at the top of the page  -->
{% block announce %}
<p>This site is under construction. Please view the Official Friends of Toowong Cemetery site: <a href="https://www.fotc.org.au">https://www.fotc.org.au</a></p> 
{% endblock %}
