{% extends "base.html" %}

<!--  indexing policies for search engines -->
{% block extrahead %}
<link rel="mask-icon" href="assets/fotc_icon.svg">

<!-- Site wide metadata -->

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "url": "https://1871fotc.github.io/fotc/",
  "logo": "https://1871fotc.github.io/fotc/assets/fotc.png",
  "image": [
    "https://1871fotc.github.io/fotc/assets/logo/fotc-1x1.png",
    "https://1871fotc.github.io/fotc/assets/logo/fotc-banner-4x3.png",
    "https://1871fotc.github.io/fotc/assets/logo/fotc-banner-16x9.png"
   ],
  "name": "Friends of Toowong Cemetery Association Inc.",
  "description": "Friends of Toowong Cemetery is a volunteer group that discover and share the history and stories of Toowong Cemetery.",
  "slogan": "Discover and share the history and stories of Toowong Cemetery",
  "email": "mailto:inquiries@fotc.org.au",
  "telephone": "0439998053",
  "address": "P.O. Box 808, Toowong, Qld, 4066",
  "geo": {
    "@type": "GeoCoordinates", 
    "latitude": "-27.477120111723387",
    "longitude": "152.98424486836961"
  },
  "openingHoursSpecification": [
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": [
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday",
        "Sunday"
      ],
      "opens": "09:00",
      "closes": "17:00"
    }
  ]
}
</script>
 


<!--   <meta property="robots" content="noindex, nofollow" />  -->
{% endblock %}

<!--   announcement bar including arbitrary HTML and text at the top of the page  -->
{% block announce %}
<p>This site is under construction. Please view the Official Friends of Toowong Cemetery site: <a href="https://www.fotc.org.au">https://www.fotc.org.au</a></p> 
{% endblock %}
