{% extends "base.html" %}

<!--  indexing policies for search engines -->

{% block extrahead %}
<!--  <meta property="robots" content="noindex, nofollow" /> -->
  <meta name="ahrefs-site-verification" content="5013c8522ec965c1cd1028f09c3e41d152bdf59c0e1eb8d84acf8ceec7719501">
{% endblock %}

<!--   announcement bar including arbitrary HTML and text at the top of the page  ->

{% block announce %}

<!--
✨ Celebrating 30 years of being Friends of Toowong Cemetery ✨
->

  This site is under construction. Please view the Official Friends of Toowong Cemetery site: <a href="http://www.fotc.org.au">http://www.fotc.org.au</a> 

<!-- 
  <b>Cultural warning</b>: This website contains names, images and voices of deceased people.
-->

{% endblock %}
