.deep-purple {
  color: #7e56c2;
}

/* banded rows matching admonitions */

tr:nth-child(even) {
  background-color: rgba(124, 77, 255, 0.1);  
}

th {
  background-color: #7e56c2;
  color: white;
}

/* show logo in mobile format */

@media screen and (max-width: 76.1875em) {
  .md-nav__button.md-logo {
    order: -1;
    display: block;
  }
}
