.deep-purple {
  color: #7e56c2;
}


/* banded rows */

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  background-color: #cccccc;
}



// Blog author
.mdx-author {
  display: flex;
  font-size: px2rem(13.6px);

  // Blog author image
  img {
    height: px2rem(40px);
    border-radius: 100%;
  }

  // Blog author content
  p {

    // TODO: refactor, use dedicated classes
    &:first-child {
      flex-shrink: 0;
      margin-right: px2rem(16px);
    }

    // Blog metadata
    > span {
      display: block;
    }
  }
}
