.deep-purple {
  color: #7e56c2;
}

/* banded rows matching admonitions */
tr:nth-child(even) {
  background-color: rgba(124, 77, 255, 0.1);  
}

th {
  background-color: #7e56c2;
  color: white;
  text-align: left; 
}

/* YouTube embed */
.video-wrapper {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
}

.video-wrapper > iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 96%;
  height: 96%;
  border: 0;
}

/* dont print certain elements */
@media print {
  .noprint {
     visibility: hidden;
  }
}

/* change styling of link in banner*/
.md-banner a {
  color: var(--md-primary-bg-color);
  text-decoration: underline;
}



/* show logo in mobile format 

@media screen and (max-width: 76.1875em) {
  .md-nav__button.md-logo {
    order: -1;
    display: block;
  }
}
*/
